/cms/.bundle/
/cms/config.json
/cms/config/deploy/
/cms/log/
/cms/tmp/
/config/local/
/devsite/.bundle/
/devsite/config.json
/devsite/config/deploy/
/devsite/log/
/devsite/tmp/
/discovery/log/
/discovery/tmp/
/local/
/rdf/.bundle/
/rdf/config/deploy/
/server/.bundle/
/server/config.json
/server/config/deploy/
/server/log/
/server/tmp/
