<div class="info">
  <% @selected = 'all' if @selected.nil? %>
  <div class = "pageheader">
    <span class = "layeredit">CitySDK Layers</span>
    category:
    <%= CitySDK::Layer.category_select(@selected, true) %>
    <span class="editlinks">
      <% if logged_in? %>
        <a href='/layer/new'>New layer</a>
      <% else %>
        <a href='/login'>Sign in</a>
      <% end %>
    </span>
  </div id="layerList">

  <% @layers.each do |l| %>
    <%= @layer = l; erb :layer %>
  <% end %>
</div>

