.info
  .pageheader
    %a(href='/layers/') Layers
    &#8594;
    %a(href="/layers/#{ layer.name }/")= layer.name
    &#8594; Data

  .code
    %h2 Statistics
    = render_layer_stats(layer)

  .code
    = haml :file_upload, locals: { layer: layer }

  .code
    %h2 Web service
    Send node data to a web service that returns enhanced data.
    %form(action="/layers/#{ layer.name }/webservice" method='post')
      %label(for='url')
        URL:
        %input#url.layer{type: 'text',
                         name: 'url',
                         value: layer.webservice}
      %label Cache for (seconds):
      %input.layer{type: 'text',
                   name: 'update_rate',
                   value: layer.update_rate}
      %input.submitb(type='submit' value='Save')

