.info
  %div.pageheader
    %h1
      %a(href='/layers/') Layers
    %br
    - if current_user.create_layer?
      %a(href='/layers/new') New layer
      |
    Category:
    = layer_category_select
    %span.editlinks
      - if logged_in?
        %a(href="/users/#{ current_user.id }/edit")= current_user.email
        |
        %a(href="/users/#{ current_user.id }/edit") My account
        |
        %a(href='/logout') Sign out
      - else
        %a(href='/login') Sign in
  - layers.each do |layer|
    = haml :layer, locals: { layer: layer }

