!!! 5
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width,initial-scale=1')

    %link(href='/css/img/favicon.ico' rel='shortcut icon' type='image/x-icon')
    %link(rel='stylesheet' href='https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css')
    %link(rel='stylesheet' href='/css/style.css')

    %script(src='https://code.jquery.com/jquery-1.9.1.min.js')
    %script(src='https://code.jquery.com/ui/1.10.3/jquery-ui.js')
    %script(src='/script/jquery.form.min.js')
    %script(src='/script/app.js')
    %script(src='/script/osmtags.js')

    %title CitySDK CMS
  %body
    .full-width-header
      .container
        %header.header
    .full-width-content
      #maincontent.container
        = yield
    .full-width-footer
      .container
        %footer.footer.clearfix
          %img.logo(src='/css/img/logos.jpg')

