%table
  %tbody
    %tr
      %td Nodes:
      %td= num_nodes
    %tr
      %td Data set size:
      %td= data_set_size
    %tr
      %td Last updated:
      %td= last_updated
    %tr
      %td Import status:
      %td= status

