%table
  %tbody
    %tr
      %td Nodes:
      %td= num_nodes
    %tr
      %td Data set size:
      %td= data_set_size
    %tr
      %td Last updated:
      %td= last_updated
    - if layer.import_status
      %tr
        %td Import status:
        %td= layer.import_status

