.info
  .pageheader
    %a(href='/layers/') Home
    &#8594;
    %a(href='/users/') Users
    &#8594;
    %a(href="/users/#{ user.id }/edit")= user.email

  = haml :'user/errors'

  %form(name='input' action="/users/#{ user.id }/edit" method='post')
    = haml :'user/edit_form_body', locals: { user: user }

