.code
  %label
    Email
    %input#email.layer{type: 'text',
                       name: 'user[email]',
                       value: user.email}

.code
  %label
    Password
    %input#password.layer{type: 'password',
                          name: 'user[password]',
                          placeholder: 'Password'}
  %label
    Confirmation password
    %input#password_confirmation.layer{type: 'password',
                                       name: 'user[password_confirmation]',
                                       placeholder: 'Confirm password'}

.code
  %label
    Organization
    %input#organization.layer{type: 'text',
                              name: 'user[organization]',
                              value: user.organization}

.code
  %label
    Domains
    = domains_input user

-if current_user.admin?()
  .code
    %label
      = checkbox 'is_admin', 'admin', user.admin?
      Admin

%input(type='submit' value='Save')

