.code
  %label(for='email')
    Email
    %input#email.layer{type: 'text',
                       name: 'user[email]',
                       value: user.email}

.code
  %label(for='password')
    Password
    %input#password.layer{type: 'password',
                          name: 'user[password]',
                          placeholder: 'Password'}
  %label(for='password_confirmation')
    Confirmation password
    %input#password_confirmation.layer{type: 'password',
                                       name: 'user[password_confirmation]',
                                       placeholder: 'Confirm password'}

.code
  %label(for='organization')
    Organization
    %input#organization.layer{type: 'text',
                              name: 'user[organization]',
                              value: user.organization}

-if user.domains.is_a?(Array) && !user.domains.empty?
  .code
    %h2 Domains
    %p= domains_to_s(user.domains)

%input(type='submit' value='Save')

