.info
  #box
    - unless flash[:notice].nil?
      .errormsg= flash[:notice]
    %h1 CitySDK Login
    %form(name='input' method='post')
      %input.login(type='text' name='email' placeholder='Email' autofocus)
      %input.login(type='password' name='password' placeholder='Password')
      %input.submit(type='submit' value='Sign in')

